# Compiled Object files
*.slo
*.lo
*.d
*.o
*.crf
*.iex
*.map
*.lnp
*.dep
*._2i
*.sct
*sct.Bak
*.fed
*.lst
*.l2p
*xxac.htm

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.elf
.DS_Store

*build_log.htm
JLinkLog.txt
OldVersions
lockfile.lck
